<form id="searchHHFrom" method="get" asp-controller="HangHoa" asp-action="Index">
    <div class="input-group w-100 mx-auto d-flex">
        <input id="searchText" type="search" name="TuKhoa" class="form-control p-3" placeholder="Tìm kiếm" aria-describedby="search-icon-1">
        <button type="submit" id="searchButton" class="input-group-text p-3"><i class="fa fa-search"></i></button>
    </div>
</form>