@{
    Layout = "_DefaultLayout";
}

<!-- Single Page Header start -->
@RenderSection("BreadCum", required: false)
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">H shop </h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        @await Html.PartialAsync("_TimKiemPanel")
                    </div>
                    <div class="col-6">
                        <a href="/HangHoa" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-20">
                            Xóa bộ lọc</a>
                    </div>
                    <div class="col-xl-3">
                        <form id="sortHHFrom" method="get" asp-controller="HangHoa" asp-action="Index">
                        <div class="bg-light ps-3 py-3 rounded d-flex justify-content-between mb-4">
                            <label for="sortHH">Sắp xếp:</label>
                                <select id="sortHH" name="SortBy" class="border-0 form-select-sm bg-light me-3" onchange="onSubmitSelectForm(this.form, this)">
                                <option value="macdinh">-- Mặc định --</option>
                                <option value="giatangdan">Giá tăng dần</option>
                                <option value="giagiamdan">Giá giảm dần</option>
                                <option value="banchaynhat">Bán chạy nhất</option>
                                <option value="sanphammoi">Sản phẩm mới</option>    
                            </select>
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            @await Component.InvokeAsync("MenuLoai")
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Giá</h4>
                                    <form class="searchPriceHHFrom" asp-controller="HangHoa" asp-action="Index" method="get">
                                        <select id="priceFilter" name="DonGia" class="form-select" aria-label="Default select example"
                                                onchange="onSubmitSelectForm(this.form, this)">
                                            <option value="">-- Tất cả --</option>
                                            <option value="1">Nhỏ hơn 50$</option>
                                            <option value="2">Từ 50$ đến 100$</option>
                                            <option value="3">Từ 100$ đến 500$</option>
                                            <option value="4">Trên 500$</option>
                                        </select>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Additional</h4>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-1" name="Categories-1" value="Beverages">
                                        <label for="Categories-1"> Organic</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-2" name="Categories-1" value="Beverages">
                                        <label for="Categories-2"> Fresh</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-3" name="Categories-1" value="Beverages">
                                        <label for="Categories-3"> Sales</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-4" name="Categories-1" value="Beverages">
                                        <label for="Categories-4"> Discount</label>
                                    </div>
                                    <div class="mb-2">
                                        <input type="radio" class="me-2" id="Categories-5" name="Categories-1" value="Beverages">
                                        <label for="Categories-5"> Expired</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <h4 class="mb-3">Featured products</h4>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="img/featur-1.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="img/featur-2.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-start">
                                    <div class="rounded me-4" style="width: 100px; height: 100px;">
                                        <img src="img/featur-3.jpg" class="img-fluid rounded" alt="">
                                    </div>
                                    <div>
                                        <h6 class="mb-2">Big Banana</h6>
                                        <div class="d-flex mb-2">
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star text-secondary"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="d-flex mb-2">
                                            <h5 class="fw-bold me-2">2.99 $</h5>
                                            <h5 class="text-danger text-decoration-line-through">4.11 $</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center my-4">
                                    <a href="#" class="btn border border-secondary px-4 py-3 rounded-pill text-primary w-100">Vew More</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Fresh <br> Fruits <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @RenderBody()
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->
@section Scripts {
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            handleSelectState('#sortHH');
            handleSelectState('#priceFilter');
        });

        onSubmitSelectForm = (form, selectE) => {
            let currentUrlParams = new URLSearchParams(window.location.search);
            form.addEventListener('submit', (event) => {
                event.preventDefault();

                // Tạo một URL mới với các query hiện tại
                const newUrlParams = new URLSearchParams(currentUrlParams);

                // Lấy tất cả các input của form (bao gồm cả select)
                const formData = new FormData(form);
                formData.forEach((value, key) => {
                    newUrlParams.set(key, value);
                });
                // Điều hướng đến URL mới với các query parameters được giữ lại
                window.location.href = `${form.action}?${newUrlParams.toString()}`;
                currentUrlParams = new URLSearchParams(window.location.search);
                const queryValue = currentUrlParams.get(selectE.name);
                if (queryValue !== null && queryValue !== '') {
                    console.log(queryValue);
                    const options = selectE.querySelectorAll('option');
                    options.forEach(option => {
                        if (option.value === queryValue) {
                            option.setAttribute('selected', 'selected');
                        } else {
                            option.removeAttribute('selected');
                        }
                    });
                }
            });

            const submitEvent = new Event('submit', { bubbles: true, cancelable: true });
            form.dispatchEvent(submitEvent);
        }

        handleSelectState = (name) => {
            const currentUrlParams = new URLSearchParams(window.location.search);
            const selectE = document.querySelector(name);
            if (selectE) {
                const queryValue = currentUrlParams.get(selectE.name);
                if (queryValue !== null && queryValue !== '') {
                    const options = selectE.querySelectorAll('option');
                    options.forEach(option => {
                        if (option.value === queryValue) {
                            option.setAttribute('selected', 'selected');
                        } else {
                            option.removeAttribute('selected');
                        }
                    });
                }
            }
        }
    </script>
}
